:root {
  --wl-body-min-width: 1000px;
}

/* layout start */
html .ant-layout-header {
  min-width: var(--wl-body-min-width);
}

/* layout end */

body,
html {
  height: 100%;
  width: 100%;
  min-width: var(--wl-body-min-width);
  background: var(--wl-body-color);
  position: relative;
}

html ::selection {
  background: var(--wl-primary-color);
}


#app {
  height: 100%;
}

.anticon svg {
  width: 1em;
  height: 1em;
}


/*override*/
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  background: rgba(0,0,0,0);
  width: 8px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: var(--wl-line-color-dark);
  border-radius: 4px;
  display: none;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  background-clip: padding-box;
}
:hover::-webkit-scrollbar-thumb {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 0 2px transparent;
}
::-webkit-scrollbar-track {
  display: none;
}
:hover::-webkit-scrollbar-track {
  display: block;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  background: var(--wl-line-color-dark);
  border: 1px solid var(--wl-text-color-secondary-2);
}
::-webkit-scrollbar-track:hover {
  box-shadow: 0 transparent;
}
